.bk{
  background-color:rgb(241,240,244);
  height:150px;
  width:300px;
  text-align: center;
}
img{
  position: absolute;
}
.nameDiv{
  padding-top: 10px;
}
.passwordDiv{
  padding-top: 10px;
}
.btn{
  margin: 10px 5px 0 5px;
  width:40%;
  height: 20%;
  background-color:rgb(255,68,0);
  border-style: none;
  color: white;
  font-size: 24px;
}
